.popular-section{
  padding: 150px 0px;
}

.popular-desh{
  margin-top: 50px ;
}
.pop-1 img{
  width: 100%;
  object-fit: cover;
  transition: transform .8s ease;
}
.pop-2 img , .pop-3 img{
  height: 275px !important;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;

}
.pop-1:hover img, .pop-2:hover img, .pop-3:hover img{
  transform: scale(1.2);
}

.pop-1, .pop-2, .pop-3{
  overflow: hidden; 
}