
.img-box .type-btn, .single-info button{
  border: 0;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #0A58CA;
  color: white;
  margin-bottom: 20px;
  border: 1px solid;
}
.img-box img{
width: 100%;
height: 450px;
object-fit: cover;
}

.re-icons {
color:#0A58CA ;
}
.info-icons li{
  list-style: none;
  margin: 15px 10px;
  padding: 10px 0;
  border-bottom: 1px solid;
}
.info-icons span{
  color: #0A58CA;
  font-size: 20px;
}
.single-info button:hover{
 color: #274BFF;
 background: white;
}


/* https://i.ibb.co/8mwYbvZ/slider-10.jpg
https://i.ibb.co/Xtm2kQq/slider-1.jpg
https://i.ibb.co/fSX4p6N/slider-1-2.jpg
https://i.ibb.co/znR9Bsk/hotel-1.jpg
https://i.ibb.co/V2MWzjC/slider-7.jpg
https://i.ibb.co/WPzvLd9/slider-4.jpg
https://i.ibb.co/rvR4HGM/slider-5.jpg
https://i.ibb.co/bKx9Fg4/hotel-2.jpg
https://i.ibb.co/4t0WX77/slider-9.jpg
https://i.ibb.co/fpmJ14B/slider-14.jpg
https://i.ibb.co/GRDsSnB/slider-6.jpg
https://i.ibb.co/6B2w9zY/slider-2.jpg
https://i.ibb.co/pZkrkjQ/slider-8.jpg
https://i.ibb.co/6R56pjg/sliders.jpg
https://i.ibb.co/zbVTmFh/slider14.jpg
https://i.ibb.co/sKZgs8X/slider-3.jpg */