.admin-field{
background-color: #F5F5F5;
  }

.admin-menu li{
  list-style: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}
/* admin-field css */
.admin-field{
  border-radius: 10px;
}
/* Main dashboard css */

.dashboard-header{
  background-color: white;
  margin: 20px 10px;
  padding: 10px;
  border-radius: 10px;

}

.admin-card{
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
border-radius: 10px;
padding: 24px;


}

.admin-icons{
  width: 75px;
  height: 75px;
  padding: 15px;
  background-color: #0A58CA;
  color: white;
  border-radius: 10px;
 
}