.dash-logo{
  width: 50px;
  height: 50px;
}

.admin-field {
  background-color: #f5f5f5;
}

.admin-menu li {
  list-style: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}
/* admin-field css */
.admin-field {
  border-radius: 10px;
}
/* Main dashboard css */

.dashboard-header {
  background-color: white;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 10px;
}

.dash-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.admin-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 24px;
}

.admin-icons {
  width: 75px;
  height: 75px;
  padding: 15px;
  background-color: #0a58ca;
  color: white;
  border-radius: 10px;
}

.booking-table {
  background-color: white;
  overflow: scroll;
  height: 600px;
  border-radius: 25px;
}
.table>:not(:last-child)>:last-child>*, .table>:not(caption)>*>*{
  padding:20px 25px;
  
}

tr:hover{
  background-color: #ececec;
  cursor: pointer;
  }
.view-btn{
  color: #0570eb;
  background-color: #0a57ca4b !important;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  width: 79px;
}
.service-img{
  width: 80px;
  height: 50px;
  border-radius: 5px;
}

div#offcanvasExample {
  width: 250px;
}

.title-box{
  background-color: #0A58CA ;
  color: white;
  width: 200px;
  height: 80px;
  padding: 20px;
  border-radius: 15px 15px 15px 0px;
  margin-bottom: -20px;
  text-align: center;
}