.select-btn button{

}
.payment-btn{
  background-color: #1680dd;
  color: white;
}

/* user Profile section */
.user-icons{
  font-size: 100px;
}
.profile-title{
  background-color: #396cf0;
  color: white;
  padding: 15px;
}
.user-img img{
  width: 120px;
  height: 120px;

}
.user-img-two img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  
}
.save-btn{
  color: white;
  border: 0;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #396cf0;
}
.save-btn:hover{
  box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
  background-color: rgba(57,108,240,.1);
  color: #396cf0;

}

.user-profile-section{
  background-color: #EBF0F4;
  padding: 50px 0px;
}

/* personal-item */

.all-item{
  display: flex;
  align-items: center;
  text-align: start;
  margin-bottom: 20px;
  color: #163fc7;
  
}
.personal-item-result p{

}
.all-item p{
  border-bottom: 1px solid #959697;
  padding: 10px 5px;
}