/* review-section */
.ratings{
  color: #0A58CA;
  margin-top: 20px;
}
.clients{
  font-weight: bold;
  color: #0A58CA;
  margin-top: 30px;
}
.review-section{
  padding: 0px 0px 100px 0px;
  position: relative;
}

.review-text p{
  font-family: Georgia,serif;
  font-style: italic;
}
.review-item{
  background: #F5F6FA;
  border: 1px solid #eee;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  position: relative;
}

.review-item::before{
  content: "\f10e";
  top: 20px;
  left: 25px;
  color: #4DB7FE;
  position: absolute;
}
.review-item::after{
  content: "\f10e";
  bottom: 20px;
  right: 25px;
  color: #4DB7FE;
  position: absolute;

}

.reviewer{
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
.reviewer img{
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 6px solid #fff;
  box-shadow: 0 9px 26px rgb(58 87 135 / 10%)
}
