/* review-section */

.clients{
  font-weight: bold;
  color: #0A58CA;
  margin-top: 30px;
}

.review-item{
  background: #F5F6FA;
  border: 1px solid #eee;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  position: relative;
}

.review-item::before{
  content: "❝ ";
  top: 10px;
  left: 15px;
  position: absolute;
  font-size: 50px;
  
}
.review-item::after{
  content: " ❞ ";
  bottom: 0px;
  right: 15px;
  position: absolute;
  font-size: 50px;
}

.reviewer{
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
.reviewer img{
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 6px solid #fff;
  box-shadow: 0 9px 26px rgb(58 87 135 / 10%);
  
}


