

body{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.banner-section{
  background-image: url('./images/bg-10.avif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:700px ;
}
.sign-in button{
  background-color: #1E40AF;
  border: 0;
  color: white;
  padding: 10px 20px;
}

/* search section css */

.search-section {
  padding-top: 150px;
}
.all-category{
  margin-bottom: -30px;
  z-index: 1111 !important;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.all-category li{
list-style: none;
border-bottom: 2px solid #1E40AF;
padding: 20px ;

}
.all-category li a{
text-decoration: none;
color: black;
}
.search-btn{
position: relative;
margin-top: -25px;
}
