

body{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.banner-section{
  background-image: url('./images/bg-10.avif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:700px ;
}
.sign-in button{
  background-color: #1E40AF;
  border: 0;
  color: white;
  padding: 10px 20px;
}

/* search section css */

.search{
  position: relative;
}
.all-category{
  margin-bottom: -30px;
  padding: 20px 0;
  z-index: 1111 !important;
  background-color: darkturquoise;
  position: relative;
}
.all-category li{
list-style: none;
}
.all-inputs{

}