
body{
font-family: 'Poppins', sans-serif;
box-sizing: border-box;}

a{text-decoration: none;}

.logo-image{
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
.logo, .logos{font-family: 'Faster One', cursive;}

.title{font-family: 'Playfair Display', serif;}

.banner-section{
  background-image: url('./images/bg-7.avif');
  background-position:top center;
  background-repeat: no-repeat;
  background-size: cover;
  height:auto ;
}
.sign-in button{
  background-color: #FFCA28;
  border: 0;
  color: black;
  padding: 10px 20px;
}
/* .sign-in button a{color: black;} */
.UserImg{
  width: 50px;
  border-radius: 50%;
}
.dropdown-item{cursor: pointer;}

.signIn button img{width: 40px;}

::selection{
  background-color: #0A58CA;
  color: white;
}
.text-blue{
  color: #0A58CA;
}

/* nav section  css*/
.nav-sections{
  box-shadow: 0 1px 5px rgb(51 65 80 / 25%);
}
.logos h1 a{
  text-decoration: none;color: black;
}
nav{
  margin-left: -150px;
}
nav ul li{
  display: inline-block;
  padding-left: 50px;
}
nav ul li a{
  color: #0A58CA;
  font-size: 17px;
}

.dropdown-item{
  padding: 12px ;
}
.modify-btn{
  border: 0;
  margin-left: 10px;
  padding: 0 30px;
  border-radius: 5px;
  background: #0A58CA;
  color: #ffffff;
  line-height: normal;
}




/* search section css */
.search-section {
  padding: 150px 0px 100px 0px;
}
.search-btn {
position: relative;
margin-top: 20px;
}
.search-btn button{
  background-color: #1E40AF;
  border: 0;
  color: white;
  border-radius: 5px;
  padding: 15px 30px;

}
.all-category{
  background-color: rgb(255, 255, 255);
  position: relative;
  margin-bottom: -40px;
}

.all-category ul li{
list-style: none;
padding: 20px ;

}
.all-category ul li {
border: 0;
color: black;
background: none;
cursor: pointer;

}
.all-category   .active {
  color: #FA9E1B;
  border-bottom: 2px solid;
}

/* About section css */

.about-section{
  padding: 100px 0;
}
.about-section .card{
  border-radius: 15px;
}
.about-section .card img{
  border-top-left-radius:  15px;
  border-top-right-radius:  15px;
}
.card-icons{
  background-color: white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #FF7C5B;
  margin: 0 auto;
  margin-top: -40px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
  
}
.offer-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subs-title{
  background-color: #FA9E1B;
  padding: 5px;
  font-weight: bold;
  color: white;
  width: 80% ;
  position: relative;
  bottom: 50px;
  font-size: 15px;
  font-style: italic;
}
.offer-section .title{
  padding: 100px  0px 50px 0px;
}
.offer-section .price h1{
  color: #FA9E1B;
  font-weight: bold;
}

.offer-section .price li{
list-style: none;
color: #FA9E1B;
font-size: 18px;
}

.offer-icons li{
list-style: none;
}

.offer-info button{
  margin-top: 50px;
}
.Second-row{
  margin-top: 80px;
}
/* review-section */

.ratings li{
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  color: #FA9E1B;
  font-size: large;
}

/* add  */

/* footer section css */

footer{
 background-color: #0E0E11;
 color: white;
 padding: 100px 0;
list-style: none;

}
.gallery-img li, .services li, .contact li{
  margin: 10px;
}
.gallery-img li img{
  border-radius: 5px;
  width: 100px;
}
.footer-icons{
  display: flex;
  gap: 20px;
}
.footer-icons li{
  font-size: 22px;
  padding:7px 12px;
  border-radius: 50%;
}
.footer-icons li:nth-child(1){
  background-color: #1E8AED;

}
.footer-icons li:nth-child(2){
  background-color: #E10404;
}
.footer-icons li:nth-child(3){
  background: linear-gradient(#4E5CC7,#E7476B,#FF7638);
}
.footer-icons li:nth-child(4){
  background-color: #1C96E8;
}
/* adds */
.ratings{
  color: #0A58CA;
  margin-top: 20px;
}
.clients{
  font-weight: bold;
  color: #0A58CA;
  margin-top: 30px;
}
.review-section{
  padding: 100px 0px;
  position: relative;
}

.review-text p{
  font-family: Georgia,serif;
  font-style: italic;
}
.review-item{
  background: #F5F6FA;
  border: 1px solid #eee;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  position: relative;
}

.review-item::before{
  content: "\f10e";
  top: 20px;
  left: 25px;
  color: #4DB7FE;
  position: absolute;
}
.review-item::after{
  content: "\f10e";
  bottom: 20px;
  right: 25px;
  color: #4DB7FE;
  position: absolute;

}
.reviewer{
  display: flex;
  justify-content: center;
 
}
.reviewer img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 6px solid #fff;
  box-shadow: 0 9px 26px rgb(58 87 135 / 10%);
 
 

}

/* .adds img{
  width: 250px;
  object-fit: cover;
 
} */
.read{
  border: 0;
  background-color: #0B1C80;
  color: white;
  padding:8px 15px;
  border-radius: 5px;
}


