.common-section{
  padding: 50px 0;
  background-color: #EBF0F4;
}
.arrow{
  color:#074B9E;
  font-size: 30px;
}
.select button, .log-btn button{
border: 0;
background-color: #0B1C80;
padding:8px 10px ;
color: white;
border-radius: 5px;
}
.card img, .simg{
object-fit: cover;
height: 100%;
width: 100%;
}
.color{color: #1C3C6B;}

.card{font-family: 'Poppins', sans-serif;}

.hotel p{
border: 1px solid ;
padding: 5px 15px;
border-radius: 5px;
color: #0B1C80;
}

/* log-in & sign-in */
.log-btn button{
  background-color: #112dcc;
  width: 100px;
}

.google-btn, .fb-btn{
border: 0;
padding: 10px;
border-radius: 3px;
color: white;
}
.fb-btn{
  background-color: #074B9E;
}
.fb{
  margin-top: -5px;
  font-size: 20px;
}
.google-btn{
  background-color: #4A84EF;
}